  .home-container {
    overflow: hidden;
    display: flex;
    .home-content {
      padding: 10px;
      height: 100vh;
      background-color: $jiro_yellow;
      padding-bottom: 32768px;
      margin-bottom: -32768px;
      justify-content: flex-start;
      width: calc(100vw - 150px);
      &__head {
        .title {
          color: $jiro_red;
          font-size: xx-large;
          text-align: center;
        }
        .sub-title {
          display: flex;
          justify-content: center;
          align-items: baseline;
          .shop-jiro {
            font-size: xx-large;
          }
          .shop-name {
            font-size: x-large;
          }
        }
      }
      &__main-container {
        text-align: center;
      }
      &__footer {
        .comment{
        }
      }
    }
  }