.sidebar{
  padding-bottom: 10000px;
  margin-bottom: -10000px;
  justify-content: flex-start;
  width: 150px;
  height: auto;
  min-height: 100%;
  background-color: $jiro_orange;
  border-right: solid 1px ;
  padding-left: 10px;

    .login__name {
      font-size: x-large;
    }
    .btn {
      background-color: $jiro_red;
      border: 1.3px solid black;
      color: black;
      text-decoration: none;
      border-radius: 4px;
      font-size: x-large;
      padding: 3px;
    }

  .jiro-now {
  }

  // .jiro-previous {
  // }

  // .jiro-inspire {
  // }

  .other {
  }

    .title {
      color: $jiro_red;
    }

      .shop {
        &__name {
          color: black;
        }
        &__btn {
          background-color: #fff;
          border: none;
          color: black;
          border: 1.3px solid black;
          text-decoration: none;
          border-radius: 4px;
          padding: 3px;
          cursor: pointer;
        }
      }

      .section {
        .home {
          color: black;
        }
        .shop-edit {
          color: black;
        }
      }
}