.sidebar{
  float: left;
  width: 130px;
  height: 100vh;
  background-color: $jiro_orange;
  border-right: solid 1px ;
    .login__name {
      font-size: x-large;
    }
    .btn {
      background-color: $jiro_red;
      border: 1.3px solid black;
      color: black;
      text-decoration: none;
      border-radius: 4px;
      font-size: x-large;
      padding: 3px;
    }
  .jiro-now {
    // color: red;
  }
  .jiro-previous {
    // color: red;
  }
  .jiro-inspire {
    // color: red;
  }
  .other {
    // color: red;
  }
    .title {
      color: $jiro_red;
    }
    .shopname {
      color: black;
    }
}