.sidebar
  .jiro-now
    .title
      ラーメン二郎
      .shopname
        %ul 三田本店
        %ul 目黒店
        %ul 仙川店

  .jiro-previous
    .title
      旧ラーメン二郎
      .shopname
        %ul 富士丸神谷本店
        %ul 虎ノ門店

  .jiro-inspire
    .title
      厳選二郎系
      .shopname
        %ul 陸
        %ul いごっそう

  .other
    .title
      その他