.home
  = render "shared/sidebar"
  .home__header
    .title
      ラーメン
    .sub-title
      .shop-jiro
        二郎　
      .shop-name
        Webアプリ店
  .home__main-container
    =image_tag("/top_image/top.jpg", width: "45%" , alt: "top", class: "top-image")
  .home__footer
    .comment
      このHPの情報は第三者による情報で、公式情報ではありません。最終的な確認・判断 は、各自の責任においてご利用ください。
    .comment
      このHPのコメントは個人の感想であり、料理の評価を確定するものではありません。
    .comment
      このHPはリンク、写真、スタイル等、全てフリーです。
    .comment
      PARENTAL ADVISORY EXPLICIT CONTENT
      