  .l-container {
    overflow: hidden;
    display: flex;
    .l-content {
      height: auto;
      min-height: 100%;
      background-color: $jiro_yellow;
      padding-bottom: 32768px;
      margin-bottom: -32768px;
      justify-content: flex-start;
      width: calc(100vw - 130px);
      &__head {
        .title {
          color: $jiro_red;
          font-size: xx-large;
          text-align: center;
        }
        .sub-title {
          display: flex;
          justify-content: center;
          align-items: baseline;
          .shop-jiro {
            font-size: xx-large;
          }
          .shop-name {
            font-size: x-large;
          }
        }
      }
      &__shop {
        font-size: large;
        .shop-content {
          text-align: center;
          margin: 35px 0 35px 0;
        }
        .shop-noodleimage {
          text-align: center;
        }
        #map {
          margin: 0 auto;
        }
      }
    }
  }